body {
    overflow: hidden;
    width: 10000px;
    padding: 20px;
    background: #b2f1f4; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b2f1f4), color-stop(50%,#f4f4f4), color-stop(99%,#b2f1f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b2f1f4 1%,#f4f4f4 50%,#b2f1f4 99%); /* Chrome10+,Safari5.1+ */
    background:    -moz-linear-gradient(top, #b2f1f4 1%, #f4f4f4 50%, #b2f1f4 99%); /* FF3.6+ */
    background:     -ms-linear-gradient(top, #b2f1f4 1%,#f4f4f4 50%,#b2f1f4 99%); /* IE10+ */
    background:      -o-linear-gradient(top, #b2f1f4 1%,#f4f4f4 50%,#b2f1f4 99%); /* Opera 11.10+ */
    background:         linear-gradient(top, #b2f1f4 1%,#f4f4f4 50%,#b2f1f4 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2f1f4', endColorstr='#b2f1f4',GradientType=0 ); /* IE6-9 */

}
.in-focus {
    /*position:    absolute;*/
    left:        50%;         
    top:         50%;
    width:       100%;      /* The fixed width... */
    margin-left: -20%;     /* Shift over half the width */
    margin-top:  -20%;      /* Shift up half the height */
}
/* logo element */
.logo {
    width: 100px;
    height: 100px;
    position: relative;
    padding: 0px 11px;
    display: inline-block;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 10px 10px 5px #888;
       -moz-box-shadow: 10px 10px 5px #888;
            box-shadow: 10px 10px 5px #888;
    background: #931100; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,#931100), color-stop(69%,#931d00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #931100 45%,#931d00 69%); /* Chrome10+,Safari5.1+ */
    background:    -moz-linear-gradient(top, #931100 45%, #931d00 69%); /* FF3.6+ */
    background:     -ms-linear-gradient(top, #931100 45%,#931d00 69%); /* IE10+ */
    background:      -o-linear-gradient(top, #931100 45%,#931d00 69%); /* Opera 11.10+ */
    background:         linear-gradient(top, #931100 45%,#931d00 69%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#931100', endColorstr='#931d00',GradientType=0 ); /* IE6-9 */
}
    /* cross element */
    .cross-container {
        position: absolute;
        margin: 10% 0%;
        height: 100%;
        width: 100%;
    }
        .cross {
            background-color: #DDD;
            position: absolute;
            display: block;
        }
            .horizontal {
                margin-top: 32%;
                height: 17%;
                width: 77%;
            }
            .vertical {
                margin-left: 31%;
                height: 80%;
                width: 15%;
            }

.text-container {
    position: relative;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: inset 3px 3px 8px #333;
       -moz-box-shadow: inset 3px 3px 8px #333;
            box-shadow: inset 3px 3px 8px #333;
    background: #ffffff; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background:    -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background:     -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background:      -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background:         linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

h1, h3, h4, .rd-rule  {
    padding: 6px 10px 1px 29px;
    color: #333;
    cursor: pointer;
    text-shadow: 0 -1px 1px #CCC;
    font-family: Sans-Serif;
}
h1:hover, h3:hover, h4:hover, .rd-rule:hover {
    color: black;
}
.rd-rule {
    font-size: 20px;
}
.partial-list {
    margin: 100px;
    padding: 30px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: inset 3px 3px 8px #333;
       -moz-box-shadow: inset 3px 3px 8px #333;
            box-shadow: inset 3px 3px 8px #333;
    background: #ffffff; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background:    -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background:     -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background:      -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background:         linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
